<div class=App-Container>
    <nav>
        <button  mat-raised-button><a routerLink="/Registration">Registration</a></button> &nbsp;
        <button  mat-raised-button><a routerLink="/Login">Login</a></button>

    </nav>
</div>
<router-outlet></router-outlet>