<div class='Login-Container'>
    <div class="mat-display-1">Login</div>
    <form [formGroup]="Login" (ngSubmit)="ValidateCredentials()">
        <div class="Login-Data">
            <mat-form-field appearance="outline">
                <mat-label for="UserName">UserName</mat-label>
                <input matInput type="text" formControlName="UserName"><br />
                <mat-icon matSuffix>account_box</mat-icon>
                <mat-hint [ngStyle]="{'color':'red'}"
                    *ngIf="Login.get('UserName')?.touched && Login.get('UserName')?.hasError('required')">Please Enter
                    UserName</mat-hint>
            </mat-form-field>
        </div><br />
        <div class="Login-Data">
            <mat-form-field appearance="outline">
                <mat-label for="Password">Password</mat-label>
                <input matInput type="password" formControlName="Password"><br />
                <mat-icon matSuffix >visibility</mat-icon>
                <mat-hint [ngStyle]="{'color':'red'}"
                    *ngIf="Login.get('Password')?.touched && Login.get('Password')?.hasError('required')">Please Enter
                    Password</mat-hint>
            </mat-form-field>
        </div><br />
        <div class="Submit">
            <mat-card-actions>
                <button mat-raised-button type="submit" [disabled]="!Login.valid">submit</button><br /><br />
                <mat-hint align="end" [ngStyle]="{'color':'red'}" *ngIf="LoginDetailsError">{{LoginDetailsErrorMessage}}
                </mat-hint>
            </mat-card-actions>
        </div>
    </form>
</div>