.Login-Container{
    position: absolute;
    background-color:whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    border: 2px orange;
    border-radius: 8px;
  
   
}
mat-label{
    color:green;
}
.mat-form-field{
    align-items: center;
    width: 100%;
}

.mat-display-1{
    text-align: center;
   
}

button{
    float:right;
}
span{
    float: right;
}


.Submit{
    display: flex;
  justify-content: center;
  align-items: center; 
  
}
button{
    color: blue;
}