.Registration-Container{
    position: absolute;
    background-color:snow;
    top: 50%;
    left: 50%;
    bottom: 100;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 24%;
    border: 2px orange;
    border-radius: 8px;

}

mat-label{
    color: green;
    
    
}
.mat-form-field{
    align-items: center;
    width: 100%;
}
matInput{
    font-size: 10px;
}
h1{
    text-align:center;
    color: black;
}
span{
    color: red;
    float: right;
}

.btn{
    color: white;
}

