<div class='Registration-Container'>
    <h1>Registration</h1>
    <form [formGroup]="Registration" (ngSubmit)="postData()">
        <div class="Registration-Input">
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput type="text" formControlName="UserName">
                <mat-hint [ngStyle]="{'color':'red'}"
                    *ngIf="Registration.get('UserName')?.touched && Registration.get('UserName')?.hasError('required')">Please Enter
                    UserName
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="Registration-Input">
            <mat-form-field appearance="outline">
            <mat-label for="Age"> Age:</mat-label>
            <input matInput type="number" class="form-control" formControlName="Age">
            <mat-hint [ngStyle]="{'color':'red'}" *ngIf="Registration.get('Age')?.touched && Registration.get('Age')?.hasError('required')">Please
                enter
                Age
            </mat-hint>
        </mat-form-field>
        </div>

        <div class="Registration-Input">
            <mat-form-field appearance="outline">
            <mat-label for="MobileNumber"> MobileNumber:</mat-label>
            <input matInput type="tel" formControlName="MobileNumber">
            <mat-hint [ngStyle]="{'color':'red'}"
                *ngIf="Registration.get('MobileNumber')?.touched && Registration.get('MobileNumber')?.hasError('required')">enter
                MobileNumber</mat-hint>
            </mat-form-field>
        </div>
    
        <div class="Registration-Input">
            <mat-form-field appearance="outline">
            <mat-label for="Pincode"> Pincode:</mat-label>
            <input matInput type="pincode" formControlName="PinCode">
            <mat-hint [ngStyle]="{'color':'red'}"
                *ngIf="Registration.get('PinCode')?.touched && Registration.get('PinCode')?.hasError('required')">enter
                Pincode</mat-hint>
            </mat-form-field >
        </div>

        <br />
        <div class="Registration-Input">
            <mat-form-field appearance="outline">
            <mat-label for="Password"> Password:</mat-label>
            <input matInput type="password" formControlName="Password">
            <mat-hint
                *ngIf="Registration.get('Password')?.touched && Registration.get('Password')?.hasError('required')">enter
                Password</mat-hint>
            </mat-form-field>
        </div>
        <br />
        <div align="center" class="Registration-Input">
            <mat-card-actions>
            <button mat-raised-button type="submit" class="btn " [disabled]="!Registration.valid">Submit</button>
        </mat-card-actions>
        </div>
    </form>
</div>