table, th, td {
  
   
    border-collapse: collapse;
    height: 70%;
    width: 100%;
    
  
  }
  td{

  text-align: left;
  
  }
  th{
    background-color:green;
    color: white;
    
    
    
  }
  tr{
    border: 1px solid white;
  }
  .Registration-Container{
    position: absolute;
    background-color:whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
.Bold{
    color: darkblue;
}
.Total{
    text-align: center;
    text-align-last:right;
    color:red;
}
.matform{
  text-align: center;
  justify-content: center;
  
}
table {
  width: 100%;
}
tr:nth-child(even) {background-color:white;}