<div align="center"class="mat-typography">
    <h1>Attendance History</h1>  
</div>

<div class='Registration-Container'>
    <mat-form-field appearance="outline">
        <mat-label>Enter a date range You want to view</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" (dateChange)="handleChange($event)" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <table>
        <tr >
            <th *ngFor="let row of Table_Rows">{{row}}</th>
        </tr>
        <tr *ngFor="let data of displayData">
            <td>{{data.Date}}</td>
            <td>{{data.Angular}}</td>
            <td>{{data.Html}}</td>
            <td>{{data.Css}}</td>
            <td>{{data.JavaScript}}</td>
            <td>{{data.TypeScript}}</td>
        </tr>
        <tr class="Bold">
            <td>Total</td>
            <td>{{TotalAngularHours}}</td>
            <td>{{TotalHtmlHours}}</td>
            <td>{{TotalCssHours}}</td>
            <td>{{TotalJavaScriptHours}}</td>
            <td>{{TotalTypeScriptHours}}</td>

        </tr>
        <tr class="Total">
            TotalHours For Attended for this Week:{{TotalHours}}
        </tr>

    </table>


</div>