.HomePage-Container{
    position: absolute;
    background-color:whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
  
      
}
.subject-header
{
  background-color:lightgreen;
  text-decoration-style: solid;
}

.subjects{
    color: sienna;
}
table, th, td {
  
    width: 100%;
    border-collapse: collapse;

  }
  td{

  text-align: left;
  
  }
  th{
    background-color:burlywood;
    color: white;
    
    
    
  }
  tr{
    border: 1px solid white;
    height: 30px;
  }
  select{
    float: left;
  }
  h1{
    text-align: center;
  }
  .Submit{
    display: flex;
    justify-content: center;
  
  
}
button{
    color: blue;

}
.DatePicker{
align-content: center;
 display: flex;
 justify-content: center;
  
}
mat-label{
  
  
  
  color: brown;
}
input{
  color:blue;
  
  
  
}
