<h1>Welcome {{WelcomeName}}</h1>
<div class="HomePage-Container">
    <form [formGroup]="HomePage" (ngSubmit)="onSubmit()">
        <div class="DatePicker">
            <mat-form-field appearance="outline">
                <mat-label for="Date">Date:</mat-label>
                <input matInput [matDatepicker]="picker" [min]="firstDayofWeek" [max]="lastDayofWeek" type="text"
                    formControlName="Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <table>
            <tr>
                <td class="subject-header">Subjects</td>
                <td class="subject-header">Mark Your Attendance</td>
            </tr>
            <tr *ngFor="let subject of subjects;let i=index">
                <td>
                    <label>{{subject}} <br /></label>
                </td>
                <td>
                    <select formControlName={{subject}} [(ngModel)]="idArr[i]" >
                        <option *ngFor="let hour of Hours"  >{{hour}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Total Hours</td>
                <td>{{totalhours()}}</td>
            </tr>
            <tr><div class="Submit" align="center">
                <mat-card-actions>
                    <button mat-Flat-button type="submit">Submit</button>
                </mat-card-actions>
              
                </div>
            </tr>
           
        </table>
      
    </form>
</div>